.column {
 
    width: 50%;
    float:left;
    max-height: 120vh;
  }
  
  .form_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  label {
    color: #98a1b3;
    font-size: 13px;
    margin: 5px 0 0;
    white-space: pre-wrap;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Poppins";
  }
  
  button {
    color: #0042c6;
    cursor: pointer;
    vertical-align: middle;
  
    width: 100%;
    text-align: center;
    margin-top: 10px 0;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
  }
  
  .cv_displayContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7a8599;
    min-height: 100%;
    min-width: 50%;
    justify-content: flex-start;
    font-family: "Poppins";
    overflow: hidden;
    overflow-y: scroll;
    color: #fff;
    top: 0;
  }
  
  .cv_wrapper {
    display: block;
    background-color: #7a8599;
    min-height: 100%;
    height: 100%;
    min-width: 50%;
    justify-content: flex-start;
    font-family: "Poppins";
    overflow: hidden;
    overflow-y: scroll;
    color: #fff;
    top: 0;
  }
  
  #resume {
    background-color: #fff;
    width: 470px;
    height: 700px;
    overflow: hidden;
    margin: auto;
    border: 0 solid #000;
    position: relative;
    padding-right: 17px;
    margin-top: 25%;
    margin-bottom: 25%;
    box-sizing: content-box;
    border-radius: 15px;
  }
  
  
  .cv_header {
    height: 10rem;
    width: 100%;
    background-color: #fff;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
  
  
  }
  .dropdownLanguage1 {
    width: 200px;
    height: 38px;
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  .cv_image {   
    border-radius: 100px;
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
  
  }
  
  .cv_image img {
    height: auto;
    width: auto;
    border-radius: inherit;
    max-height: 150;
    max-width: 110px;
  }
  
  .cv_head_right_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000000;
  
  }
  
  .subItem h3 {
    font-size: 1.17em;
    font-weight: bold;
  }
  
  .section_title {
    color: #000000;
    padding: 0 0 0 0.5em;
  }
  
  .section_title .h1 {
    font-size: 20px;
  }
  
  .cv_body_left {
    display: block;
  }
  
  .cv_body_right {
    display: block;
  }
  
  .cv_Text p {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  .cv_name {
    padding-top: 3.5em;
    margin-left: 0.5em;
    display: inline-flex;
    color: #000000;
  }
  
  .cv_Occupation {
    margin-left: 0.7em;
  }
  
  .cv_Birthday {
    margin-left: 0.7em;
  }
  
  .cv_head {
    height: 10rem;
    width: 100%;
    background-color: #fff;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .cv_content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .cv_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }